//COLORS
$header: #1e2838;
$white : #ffffff;

.d-flex{
  display: flex;
}

.a-item-center{
  align-items: center;
}

.d-none{
  display: none;
}

.i-pointer{
    cursor: pointer;
}



//TEXT
.text {
  &-center {
    text-align: center;
  }
  &-left {
    text-align: left;
  }
  &-right {
    text-align: right;
  }
}

//CONTENT
.align-content-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.justify-content-center{
  display: flex;
  justify-content: center;
}

.w-100{
  width: 100%;
}

.bg {
  &-header {
    background-color: $header;
  }
}

//MARGIN
@for $i from 0 through 10 {
  .mg-#{ $i * 5} {
    margin: $i * 5px;
  }
}

@for $i from 0 through 30 {
  .mg-top-#{ $i * 5} {
    margin-top: $i * 5px;
  }
}

@for $i from 0 through 10 {
  .mg-bottom-#{ $i * 5} {
    margin-bottom: $i * 5px;
  }
}

@for $i from 0 through 10 {
  .mg-right-#{ $i * 5} {
    margin-right: $i * 5px;
  }
}

@for $i from 0 through 10 {
  .mg-left-#{ $i * 5} {
    margin-left: $i * 5px;
  }
}

@for $i from 0 through 10 {
  .mg-x-#{ $i * 5} {
    margin-right: $i * 5px;
    margin-left: $i * 5px;
  }
}

@for $i from 0 through 30 {
  .mg-y-#{ $i * 5} {
    margin-top: $i * 5px;
    margin-bottom: $i * 5px;
  }
}

//PADDING
@for $i from 0 through 10 {
  .pdd-#{ $i * 5} {
    padding: $i * 5px !important;
  }
}

@for $i from 0 through 50 {
  .pdd-top-#{ $i * 5} {
    padding-top: $i * 5px;
  }
}

@for $i from 0 through 10 {
  .pdd-bottom-#{ $i * 5} {
    padding-bottom: $i * 5px;
  }
}

@for $i from 0 through 10 {
  .pdd-right-#{ $i * 5} {
    padding-right: $i * 5px;
  }
}

@for $i from 0 through 100 {
  .pdd-left-#{ $i * 5} {
    padding-left: $i * 5px;
  }
}

@for $i from 0 through 10 {
  .pdd-x-#{ $i * 5} {
    padding-right: $i * 5px;
    padding-left: $i * 5px;
  }
}

@for $i from 0 through 10 {
  .pdd-y-#{ $i * 5} {
    padding-top: $i * 5px;
    padding-bottom: $i * 5px;
  }
}

//POSITION
.p-absolute {
  position: absolute;
}

.p-relative {
  position: relative;
}

.p-fixed {
  position: fixed;
}

//UTILITIES TEXT
.u-uppercase {
  text-transform: uppercase;
}

.u-underline {
  text-decoration: underline;
}

.u-regular {
  font-weight: 400;
}

.u-medium {
  font-weight: 500;
}

.u-bold {
  font-weight: bold;
}

.u-pointer{
  cursor: pointer;
}

.card{
  border-radius: 10px;
  background-color: $white;
  padding: 0 20px;
  margin: 5px 0;
}

//HIDE
.hide {
  display: none;
  //Max
  @include mq-max(large) {
    &-down--md {
      display: none;
    }
  }
  @include mq-max(medium) {
    &-down--sm {
      display: none;
    }
  }
  @include mq-max(small) {
    &-down--xs {
      display: none;
    }
  }
  @include mq-max(xs-small) {
    &-down {
      display: none;
    }
  }
  @include mq-min(xs-small) {
    &-up {
      display: none;
    }
  }
  @include mq-min(small) {
    &-up--xs {
      display: none;
    }
  }
  @include mq-min(medium) {
    &-up--sm {
      display: none;
    }
  }
  @include mq-min(large) {
    &-up--md {
      display: none;
    }
  }
}