/* You can add global styles to this file, and also import other style files */
@import  "assets/scss/var-mixins",
         "assets/scss/general";


html { height: 100% }
body { margin: 0; background-color: #f4f4f4; }

@font-face {
    font-family: roboto-regular;
    src: url(assets/fonts/Roboto/Roboto-Regular.ttf);
  }
            
  *{
    font-family: roboto-regular;
  }