<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" *ngFor="let character of characters">
        <div class="card">
            <app-character [character]="character"></app-character>
        </div>
    </div>
</div>
<div class="justify-content-center">
    <h1 *ngIf="error">No results found</h1>
</div>
<div (click)="scrollToTop()" class="scroll-to-top" *ngIf="pageYoffset > 0">
    <img src="assets/images/up-arrow.png" class="w-100">
</div>
<div class="pagination">
    <div class="pagination__inner">
        <div class="pagination__pages">
            <div (click)="prevPage()" class="u-pointer">
                Back
            </div>
            <div class="mg-x-10">
                {{page}} / {{info?.pages}}
            </div>
            <div (click)="nextPage()" class="u-pointer">
                Next
            </div>
        </div>
    </div>
</div>